# Data Frames<br>

<div class="alert alert-success">
The data frame is a special kind of list used for storing dataset tables.
Think of rows as cases, columns as variables. Each column is a vector or factor.
Creating a dataframe:
</div>

In [2]:
dfr1 <- data.frame( ID=1:4,

                    FirstName=c("John","Jim","Jane","Jill"),

                    Female=c(F,F,T,T), 

                    Age=c(22,33,44,55) )

dfr1$FirstName   # Access the second column of dfr1. 

class(dfr1$FirstName)

[1] John Jim  Jane Jill
Levels: Jane Jill Jim John

[1] "factor"

<div class="alert alert-success">
Notice that R thinks that 'dfr1$FirstName' is a categorical variable 
and so it’s treating it like a factor, not a character vector. 
Let’s get rid of the factor by telling R to treat 
‘FirstName’ as a vector:
<br>

In [3]:
dfr1$FirstName <- as.vector(dfr1$FirstName)
class(dfr1$FirstName)

[1] "character"

<div class="alert alert-success">
Alternatively, you can tell R you don’t like factors 
from the start using 'stringsAsFactors=FALSE'
<br>

In [5]:
dfr2 <- data.frame(FirstName=c("John","Jim","Jane","Jill"), 
                   stringsAsFactors=F)

class(dfr2$FirstName)   # Success: not a factor.

[1] "character"

Access elements of the data frame:

In [9]:
dfr1[1,]   # First row, all columns

dfr1[,1]   # First column, all rows, the same as dfr1$ID

dfr1$Age   # Age column, all rows

dfr1[1:2,3:4] # Rows 1 and 2, columns 3 and 4 - 
                # the gender and age of John & Jim

dfr1[c(1,3),] # Rows 1 and 3, all columns

  ID FirstName Female Age
1 1  John      FALSE  22

[1] 1 2 3 4

[1] 1 2 3 4

[1] 22 33 44 55

  Female Age
1 FALSE  22
2 FALSE  33

  ID FirstName Female Age
1 1  John      FALSE  22
3 3  Jane       TRUE  44

<div class="alert alert-success">
Find the names of everyone over the age of 30 in the data:
</div>

In [13]:
dfr1[dfr1$Age>30,2]
dfr1[dfr1$Age>30,]$FirstName

[1] "Jim"  "Jane" "Jill"

[1] "Jim"  "Jane" "Jill"

<div class="alert alert-success">
Find the average age of all females in the data:
</div>

In [16]:
mean ( dfr1[dfr1$Female==TRUE,4] )

[1] 49.5