<style>
body {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}

h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "
}

h3:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". "
}

h4:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." 
    counter(h3) "." counter(h4) ". "
}

</style>

## Matrices & Arrays <br>
<div class="alert alert-success">
A matrix is a vector with dimensions:
</div>

In [2]:
m <- rep(1, 20)   # A vector of 20 elements, all 1
m
dim(m) <- c(5,4)  # Dimensions set to 5 & 4, so m is now a 5x4 matrix
dim(m)
m

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

[1] 5 4

     [,1] [,2] [,3] [,4]
[1,] 1    1    1    1
[2,] 1    1    1    1
[3,] 1    1    1    1
[4,] 1    1    1    1
[5,] 1    1    1    1

<div class="alert alert-success">
Creating a matrix by combining vectors:
</div>

In [3]:
m <- cbind(1:5, 5:1, 5:9)  # Bind 3 vectors as columns, 5x3 matrix
m
m <- rbind(1:5, 5:1, 5:9)  # Bind 3 vectors as rows, 3x5 matrix
m

     [,1] [,2] [,3]
[1,] 1    5    5
[2,] 2    4    6
[3,] 3    3    7
[4,] 4    2    8
[5,] 5    1    9

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4    5
[2,] 5    4    3    2    1
[3,] 5    6    7    8    9

<div class="alert alert-success">
Selecting matrix elements:
</div>

In [4]:
m <- matrix(1:7,7,7)
m
class(m)

m[2,3]  # Matrix m, row 2, column 3 - a single cell

m[2,]   # The whole second row of m as a vector

m[,2]   # The whole second column of m as a vector

m[1:2,4:6] # submatrix: rows 1 and 2, columns 4, 5 and 6

m[-1,]     # all rows *except* the first one

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1    1    1    1    1    1    1
[2,] 2    2    2    2    2    2    2
[3,] 3    3    3    3    3    3    3
[4,] 4    4    4    4    4    4    4
[5,] 5    5    5    5    5    5    5
[6,] 6    6    6    6    6    6    6
[7,] 7    7    7    7    7    7    7

[1] "matrix"

[1] 2

[1] 2 2 2 2 2 2 2

[1] 1 2 3 4 5 6 7

     [,1] [,2] [,3]
[1,] 1    1    1
[2,] 2    2    2

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 2    2    2    2    2    2    2
[2,] 3    3    3    3    3    3    3
[3,] 4    4    4    4    4    4    4
[4,] 5    5    5    5    5    5    5
[5,] 6    6    6    6    6    6    6
[6,] 7    7    7    7    7    7    7

<div class="alert alert-success">
Other operations with matrices:
</div>

In [5]:
# Are elements in row 1 equivalent to corresponding 
# elements from column 1:

m[1,]==m[,1] 

# A logical matrix: TRUE for m elements >3, FALSE otherwise:

m>3 

# Selects only TRUE elements - that is ones greater than 3:

m[m>3]
class(m[m>3])

[1]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[3,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[4,]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[5,]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[6,]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[7,]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

 [1] 4 5 6 7 4 5 6 7 4 5 6 7 4 5 6 7 4 5 6 7 4 5 6 7 4 5 6 7

[1] "integer"

In [6]:
t(m)          # Transpose m     

m <- t(m)     # Assign m the transposed m

m %*% t(m)    # %*% does matrix multiplication

m * m         # * does element-wise multiplication

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1    2    3    4    5    6    7
[2,] 1    2    3    4    5    6    7
[3,] 1    2    3    4    5    6    7
[4,] 1    2    3    4    5    6    7
[5,] 1    2    3    4    5    6    7
[6,] 1    2    3    4    5    6    7
[7,] 1    2    3    4    5    6    7

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 140  140  140  140  140  140  140
[2,] 140  140  140  140  140  140  140
[3,] 140  140  140  140  140  140  140
[4,] 140  140  140  140  140  140  140
[5,] 140  140  140  140  140  140  140
[6,] 140  140  140  140  140  140  140
[7,] 140  140  140  140  140  140  140

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1    4    9    16   25   36   49
[2,] 1    4    9    16   25   36   49
[3,] 1    4    9    16   25   36   49
[4,] 1    4    9    16   25   36   49
[5,] 1    4    9    16   25   36   49
[6,] 1    4    9    16   25   36   49
[7,] 1    4    9    16   25   36   49

<div class="alert alert-success">
Arrays are used when we have more than 2 dimensions. 
We can create them using the array() function:
</div>

In [7]:
a <- array(data=1:18,dim=c(3,3,2)) # 3d with dimensions 3x3x2
a
a <- array(1:18,c(3,3,2))          # the same array
a

, , 1

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

, , 2

     [,1] [,2] [,3]
[1,]   10   13   16
[2,]   11   14   17
[3,]   12   15   18

, , 1

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

, , 2

     [,1] [,2] [,3]
[1,]   10   13   16
[2,]   11   14   17
[3,]   12   15   18